.Main {
  display: flex;
  height: 90%;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.headerStripes {
  height: 15vh;
  margin-top: 5vh;
  transform: rotate(-20deg);
}

.title {
  font-size: 5rem;
  margin-top: 2%;
}

.logo {
  font-size: 11rem;
}
