.User {
  margin-top: 5vh;
  font-size: 3rem;
  text-align: center;
}

.icons {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}

.beer {
  font-size: 3.3rem;
}
