.User {
  margin-top: 5vh;
  font-size: 3rem;
  text-align: center;
}

.statsPanel {
  width: 100vw;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons button {
  min-width: max-content;
  padding: 1vw 3vw;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}

.beer {
  font-size: 2rem;
}

.other {
  font-size: 2rem;
}
