.Playground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.buttons {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.refresh {
  font-size: 1.5rem;
}
