@import '../../vars.css';

.RegisterLoginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.registerBtn {
  margin-top: 3vh;
  width: 50%;
}
