.AdminConsole {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminHeader {
  transform: translateY(-6vh);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.AppLogo {
  position: relative;
  align-self: flex-start;
  left: 13vw;
  top: 6vh;
  font-size: 5rem;
}
