.Modal {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(22, 100, 120, 0.9);
  z-index: 1;
}

.Modal * {
  color: #f66;
}

.Modal input::placeholder {
  color: #bbb;
}
