* {
  /*border: 2px solid grey;*/
  box-sizing: border-box;
}

@font-face {
  font-family: goldsmith;
  src: url(fonts/The\ Goldsmith_Vintage.ttf);
}

html,
body,
.App {
  font-family: goldsmith;
  font-size: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    160deg,
    #f3c693 20%,
    #f00 20% 25%,
    #f72 25% 30%,
    #fb0 30% 35%,
    #0bb 35% 40%,
    #f3c693 40%
  );
}

.App-header {
  font-size: 7rem;
  transform: rotate(-20deg);
}

.App-logo {
  font-size: 50vw;
  animation: starotate 5s linear infinite forwards;
}

@keyframes starotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
