:root {
  --primary: #f3c693;
  --secondary: #732;
  --accent: #0bb;
  --highlight: #f00;
  --min-width: 90px;
  --min-height: 40px;
  --border-weight: 5px;
  --border-radius: 8px;
}

@font-face {
  font-family: goldsmith;
  src: url(fonts/The\ Goldsmith_Vintage.ttf);
}

* {
  /*border: 2px solid grey;*/
  box-sizing: border-box;
  margin: 0px;
  font-family: goldsmith;
}

html,
body,
.App {
  font-size: 10px;
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100vw;
  height: 100vh;
}

.App-Logo {
  font-size: 50vw;
}

button {
  /*
  width: 20vw;
  height: 4vh;
  */
  font-weight: bold;
  color: var(--secondary);
  letter-spacing: 0.3rem;
  font-size: 3rem;
  background: none;
  border: var(--border-weight) solid var(--secondary);
  border-radius: var(--border-radius);
  min-width: var(--min-width);
  min-height: var(--min-height);
}

button:active {
  background: var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
}

input {
  font-size: 2.5rem;
  color: var(--secondary);
  padding: 1px 6px;
  border: var(--border-weight) solid var(--accent);
  border-radius: var(--border-radius);
  min-height: var(--min-height);
  min-width: calc(var(--min-width) * 2);
  background-color: transparent;
}
