@import './vars.css';

@font-face {
  font-family: goldsmith;
  src: url(fonts/The\ Goldsmith_Vintage.ttf);
}

* {
  /*
  border: 2px solid grey;
  */
  color: var(--secondary);
  box-sizing: border-box;
  margin: 0px;
  font-family: goldsmith;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  /*
  width: 20vw;
  height: 4vh;
  */
  font-weight: bold;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  background: none;
  border: var(--border-weight) solid var(--secondary);
  border-radius: var(--border-radius);
  min-width: var(--min-width);
  min-height: var(--min-height);
}

button:active {
  background: var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
}

input {
  text-align: center;
  font-size: 2rem;
  padding: 1px 6px;
  border: var(--border-weight) solid var(--accent);
  border-radius: var(--border-radius);
  min-height: var(--min-height);
  min-width: calc(var(--min-width));
  background-color: transparent;
}
