@import '../../vars.css';

.AppHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 120vw;
  height: 11vh;
  background: linear-gradient(
    var(--highlight) 25%,
    #f72 25% 50%,
    #fb0 50% 75%,
    var(--accent) 75%
  );
  transform: rotate(-20deg);
  transition: all 1s;
}

.title {
  font-size: 4.3rem;
  color: var(--primary);
  text-shadow: 0px 0px 10px var(--secondary);
  background-clip: text;
}
