.UserList {
  width: 80vw;
}

.TableArea {
  max-height: 35%;
  overflow: scroll;
}

.DrinkTableHeader .DrinkTableRow .DrinkHeader {
  top: 0;
  font-size: 2rem;
  position: sticky;
}

.DrinkHeader {
  background-color: var(--primary);
}
